---
name: Release

on:
  push:
    branches:
      - main

jobs:
  release-automation:
    uses: juancarlosjr97/release-it-containerized@0.7.100
    with:
      plugins_list: "@release-it/conventional-changelog,@release-it/bumper"
